.sandbox-container {
    display:block;
    height: 300%;
  }
  
  .sandbox-editor {
    flex: 12;
    height: 300%;
  }
  
  .sandbox-output {
    flex: 1;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sandbox-output button {
    margin-bottom: 10px;
  }
  
  .output-frame {
    width: 100%;
    height: 200px; /* Set height as needed */
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .output-text {
    white-space: pre-wrap;
  }
  